EMAIL_RECIPIENT="" # john.doe@provider.com
EMAIL_SENDER="" # jane.doe@provider.com
SMTP_SERVER="" # smtp.provider.com
SMTP_PORT= # 587
SMTP_USERNAME="" # john.doe@provider.com
SMTP_PASSWROD="" # Recipient account passkey