[Unit]
Description=Owl-Eye Service 
Wants=graphical-session.target
After=graphical-session.target

[Service]
Type=simple
ExecStart=/opt/owl-eye/.venv/bin/python /opt/owl-eye/main.py
Restart=always
WorkingDirectory=/opt/owl-eye
StandardOutput=append:/opt/owl-eye/log
StandardError=append:/opt/owl-eye/log

[Install]
WantedBy=graphical-session.target
